@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ray Zhang A01288597</h1>
    <h1 class="display-4">I'll take any job at this point pls hire me</h1>
</div>
